body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75vh;
}

.hl {
    border-top: 3px solid black;
    width: 75vh;
}

p {
    margin-left: 375px; margin-right: 375px; 
    text-align: left;
}

ul {
    margin-left: 375px; margin-right: 375px; 
    text-align: left;
}

.short {
    width: 50vh;
}

.box {
    height: 100px;
    width: 1500px;
    overflow-wrap: break-word;
    display: block;
    position: relative;
}